useDynLib(LS2W,.registration=TRUE)

import(wavethresh)
importFrom("graphics", "image", "par", "persp", "plot", "text","title")
importFrom("stats", "pnorm", "predict", "qnorm", "quantile", "rnorm","var")
importFrom("utils", "data")
importFrom("MASS","lda")
importFrom("methods","is")

S3method(print, cddews)
S3method(summary, cddews)
S3method(threshold,imwd)
S3method(imwr,imwd)
S3method(AvBasis,wst2D)
S3method(LS2Wsim,cddews)

export(A2name)
export(cddews)
export(cdtoimwd)
export(convertimwd)
export(D1Amat)
export(D2ACW)
export(D2ACWmat)
export(D2Amat)
export(D2autoplot)
export(example.ls2w)
export(getdata)
export(Haar2MA.diag)
export(Haar2MA.horiz)
export(Haar2MA.vert)
export(HaarMontage)
export(imwd)
export(LS2Wsim)
export(packetj)
export(Phi1Dname)
export(PhiJ)
export(Psi1Dname)
export(Psi2Dname)
export(PsiJ)
export(sample.stats)
export(specplot)


export(DWEnv)


